<div class="timer">
            <h3 class="timerStyle text-center">TIME LEFT: </h3>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-xl-6">
                    <div class="card imageCard">
                        <div class="card-header border-bottom-0 infoHeader">
                            <h4 class="itemName text-center" style="font-family: Bangers;">{{productData.product_name}}</h4>
                        </div>
                        <div class="card-body border-0 imageContain">
                            <img src= "{{this.image}}" style="width: 80%;" class="rounded d-block mx-auto">
                        </div>
                        <div class="card-footer itemInfo">
                            <div class="d-flex justify-content-start">
                                <ul>
                                    <li class="infoList">Category: {{getObjectProperty productData "category.category_name"}} </li>
                                    <li class="infoList">Brand: {{getObjectProperty productData "brand.brand_name"}} </li>
                                    <li class="infoList">Description: {{productData.description}} </li>
                                    <li class="infoList">Price: {{productData.price}} </li>
                                    <li class="infoList">Size: {{productData.size}} </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-xl-6">
					<div class="card chatCard">
						<div class="card-header chatHeader">
							<div class="d-flex bd-highlight mb-3">
								<div class="p-2 bd-highlight userImg">
                                    <img src="/images/work-3.jpg" class="rounded-circle" style="width: 55px; height: 40px;">
								</div>
								<div class="userName">
									<p>Username</p>
                                </div>
							</div>
						</div>
						<div class="card-body msgBody">
							<div class="d-flex justify-content-start mb-4">
								<div>
                                    <img src="/images/work-3.jpg" class="rounded-circle" style="width: 50px; height: 40px;">
                                </div>
                                <div class="msgContainer">
									Yeetus Deletus
									<span class="msgTime">8:40 AM, Today</span>
								</div>
                            </div>
                        </div>
                        

						<div class="card-footer cardEnd">
                            <div class="bidDescript text-center" style="font-family: Bangers;">
                                <h5>To start bidding, click the amount you wish to drop it</h5>
                            </div>
                            
							<div class="d-flex justify-content-center">
                                {{#if loggedIn}}
                                <button class="btn bidBtns" type="submit">100</button>
                                <button class="btn bidBtns" type="submit">200</button>
                                <button class="btn bidBtns" type="submit">300</button>
                                <button class="btn bidBtns" type="submit">400</button>
                                <button class="btn bidBtns" type="submit">500</button>
                                <button class="btn bidBtns" type="submit">1000</button>
                                <div class="dropdown">
                                    <button class="btn bidBtns" type="submit" id="btn bidBtns" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Custom
                                    </button>
                                    <div class="dropdown-menu">
                                    <form class="custom-form">
                                       <div class="form-group">
                                           <label class="customLabel" >Custom Bid:</label>
                                           <input class="form-control" type="text"  />
                                       </div>
                                       <div class="form-group">
                                           <button class="btn bidBtns" type="submit">Bid</button>
                                       </div>
                                   </form>
                                </div>
                    
                

                                </div>
                                
                                {{else}}
                                <p>You must be logged in to make a bid</p>>
                            </div>
                            {{/if}}
						</div>
					</div>
				</div>
            </div>
        </div>

        <script src="/js/bidItem.js"></script>