<!--Checkout form would be routed after winning a bid-->
<div class="container " id="checkoutContain">
  <div class="d-flex justify-content-center h-100 ">
    <div class="card">
      <div class="col-25">
        <div class="container">
          <h4>
            <span class="price" style="color:black">
              <i class="fa fa-shopping-cart"></i>
              <b>Your Items</b>
            </span>
          </h4>
          {{#each auctionsWon as |product|}}
              <p> {{product.product_name}}  ${{product.price}}</p>
          {{/each}}
          <hr>
          <p>Total <span class="price" style="color:black"><b>${{getTotalPriceInCart auctionsWon}}</b></span></p>
        </div>
      </div>
    </div>
  </div>

  <h3>Payment Gateway</h3>
  <form action="payment" method="POST" class="paymentForm">
    <script 
      src="//checkout.stripe.com/v2/checkout.js"
      class="stripe-button"
      data-key="pk_test_51Iuh6nAyuy17BR8EvFLWRonr4uXr83y7IX58uJU6cF9fMJ2MKULdrxjTRynrGbqVRhQOU789XUXxf4LsMUdLcLLc00aRzQIJME"
      data-amount={{product.price}}
      data-currency="usd"
      data-locale="auto"
      data-description={{product.product_name}} >
    </script>
  </form>
</div>

          
         