<!--Home page is where we should see biddings-->
<div class="container text-center my-3">
   <h2 class="font-weight-light">Recently Sold</h2>
   {{#if loggedIn}}
      <a href="/postItem" class="btn addBid">Add new Bid</a>
   {{/if}}
   <a href="/recentlySold" class="btn addBid"> Recently sold</a>
   <div class="row mx-auto my-auto justify-content-center">
      {{#each recentlySold as |product|}}
         <div class="card" style="width: 18rem;">
            <img
               src="{{product.image}}"
               class="card-img-top"
               style="width: 18rem; max-height: 400px;"
            />
            <div class="card-body">
               <div class="row">
                  <p class="titleFont">{{product.product_name}}</p>
                  <p class="regularFont">Price: {{product.price}}</p>
                  <p class="regularFont">Size: {{product.size}} </p>
                  <p class="regularFont">Brand: {{brand.brand_name}}</p>
               </div>
            </div>
         </div>

      {{/each}}

   </div>
</div>

<script src="/js/postItem.js"></script>